/.angular

/dist

/src-tauri/target
/src-tauri/gen/schemas

node_modules

.idea/*
!.idea/.gitignore
!.idea/inspectionProfiles/
!.idea/jsLinters/

.eslintcache
.DS_Store

/image-staging/
/audio-staging/
/src/assets/board/demo/

zz-*.spec.ts
